@use "../../assets/variables.scss" as *;

.beer-card {
  border: black 2px solid;
  margin: 0;
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  &__image {
    height: 30vh;
  }

  &__name {
    font-family: $font-heading, Arial, Helvetica, sans-serif;
  }

  &__tagline {
    font-family: $font-body, Arial, Helvetica, sans-serif;
  }

  &__info {
    font-family: $font-body, Arial, Helvetica, sans-serif;
  }

  &__description {
  }

  &__abv {
    font-family: $font-heading;
    &__abv-value {
      font-family: $font-body;
    }
  }

  &__food-heading {
    font-family: $font-heading;
  }

  &__food-list {
  }

  &__food-item {
  }
}
