@use "../../assets/variables.scss" as *;

.page-number {
  &__container {
    position: fixed;
    bottom: 0;
    left: 13.25%;
    right: 0;
    border-radius: 20px;
    background-color: #19233e;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    &--functions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    &--display {
      text-align: center;
      font-size: 30px;
      font-family: $font-heading;
    }
  }
  &__image {
    cursor: pointer;
    height: 50px;
    width: auto;
    justify-content: space-between;
  }
}
