@use "../../assets/variables.scss" as *;

.sidebar__element {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  border: $brewdogBlue solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
}
